<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> gestione  auto</title>
<link rel="stylesheet" href="/css/adminIndex.css" />
</head>
<body>

<header>
<div class="header-links">
          
            <a href="/logout">Logout</a>
        </div>
	
	</header>
	
	 <section class="quadrant" id="quadrant1">
        <a href="/admin/formCreaAuto" class="image-link">
            <span class="image-text">aggiungi auto</span>
        </a>
    </section>
    
    <section class="quadrant" id="quadrant2">
        <a href="/admin/gestisciMacchine" class="image-link">
            <span class="image-text">modifica auto</span>
        </a>
    </section>

</body>
</html>